.cont{
    height: 500px;
    width: 500px;
    border: 2px solid;
    position: relative;
    
}
.block{
    height: 50px;
    width: 50px;
    background-color: rgb(250, 0, 0);
    position: absolute;
}